<!doctype html>
<html>
    <head>
<<<<<<< HEAD
        <img src ="img/logo.png" alt="Meadowlark Travel Logo">
=======
        <link rel="stylesheet" href="StyleSheet.css">
>>>>>>> 0022d74e398e1c48f0add037f813de4d4b101d22
    </head>
    <header>Wesley Tan - Software Engineering</header>
    <body>
        {{{body}}}
    </body>
</html>