<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
    <header>Wesley Tan - Software Engineering</header>
    <body>
        {{{body}}}
    </body>
</html>