<body>
<h1><a href='/syllabus'>Syllabus</a></h1>
<h1><a href='/lovelaces'>Lovelace's</a></h1>
        
        <h1>Assignments:</h1>
        <ul>
            <li><a href="https://www.lewis.education/?cpsc=44000-fall-2020-001&hide-nav=y#/sprint-2" target="_blank">Sprint 2</a>
            <ul>
                <li><a href='/diceroll'>Dice Roll App</a></li>
            </ul>
        </li>
            <li><a href="https://www.lewis.education/?cpsc=44000-fall-2020-001&hide-nav=y#/sprint-3" target="_blank">Sprint 3</a></li>
            <li><a href ="https://www.lewis.education/?cpsc=44000-fall-2020-001&hide-nav=y#/sprint-4" target="_blank">Sprint 4</a></li>
                <ul>
                <li><a href="https://learning.oreilly.com/library/view/web-development-with/9781492053507/ch04.html#ch_tidying_up" target="_blank">Chapter 4 -  Node and Express Tutorial</a></li>
                </ul>
            <li><a href="https://www.lewis.education/?cpsc=44000-fall-2020-001&hide-nav=y#/sprint-5" target="_blank">Sprint 5</a></li>
            <li>Sprint 6</li>
            <li>Sprint 7</li>
            <li>Sprint 8</li>
          </ul>
    </body>