<!DOCTYPE html>
<html>
    <head>
        <title>Lovelace's | Online Ordering</title>
        <meta name ="description" content="This is the description">
        <link rel="stylesheet" href="/LovelacesStyleSheet.css">
        <script src="/order.js" async></script>
    </head>
    <body>
        <header class="main-header">
            <nav class="main-nav nav">
                <ul>
                    <li><a href="/lovelaces">HOME</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">Online Ordering</h1>
        </header>
        <section class="container content-section">
            <h2 class="section-header">Appetizers</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">French Fries</span>
                    <img class="shop-item-image" src="/fries.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$2.50</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Onion rings</span>
                    <img class="shop-item-image" src="/onionrings.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$3.50</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Chicken tenders</span>
                    <img class="shop-item-image" src="/tendies.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$4.00</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
               
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Sandwiches</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Cheeseburger</span>
                    <img class="shop-item-image" src="/burger.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$8.50</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Reuben sandwich</span>
                    <img class="shop-item-image" src="/reuben.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$6.50</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Italian sandwich</span>
                    <img class="shop-item-image" src="/italian.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$7.00</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Tuna melt</span>
                    <img class="shop-item-image" src="/tunamelt.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$6.00</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">Drinks</h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Soda</span>
                    <img class="shop-item-image" src="/soda.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$1.50</span>
                        <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Milkshake</span>
                    <img class="shop-item-image" src="/shake.jpg">
                    <div class="shop-item-details">
                        <span class="shop-item-price">$4.00</span>
                        <button class="btn btn-primary shop-item-button"type="button">ADD TO CART</button>
                    </div>
                </div>
               
            </div>
        </section>
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
                
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$18.50</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">CHECKOUT</button>
        </section>
        
    </body>
</html>
