<!-- Wesley Tan 
Software Engineering
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Lovelace's | Online Ordering | Order Receipt</title>
        <meta name ="description" content="This is the receipt">
        <link rel="stylesheet" href="/LovelacesStyleSheet.css">
        <script src="/order.js" async></script>
        <header>ORDER PLACED!</header>
    </head>

<body>
    <section class="container content-section">
            <h2 class="section-header">RECEIPT</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>

            <div class="cart-items">
                
            </div>


            <div class="cart-subtotal">
                <strong class="cart-subtotal-title">Subtotal</strong>
                <span class="cart-subtotal-price">$0.00</span>
            </div>
             <div class="cart-tax">
                <strong class="cart-tax-title">Tax</strong>
                <span class="cart-tax-price">$0.00</span>
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">$0.00</span>
            </div>

        <h1>Thank you for ordering!</h1>
</body>

</html>