body {
    background-color: rgb(197, 146, 146);
  }
  
  header {
    background-color: rgb(141, 146, 146);
    text-align: center;
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
  }
  h1 {
    background-color: rgb(141, 146, 146);
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    margin-left: 20px;
  }
  h2 {
    text-align: center;
    color: whitesmoke;
    font-size: 40px;
    margin-left: 40px;
  }
  
  p {
    text-align:center;
    color: whitesmoke;
    font-size: 40px;
    margin-left: 50px;
  }
  
  ul {
    background: #dddddd;
    font-size: 40px;
    padding: 20px;
  }
  
  ol {
    background: #dddddd;
    font-size: 40px;
    padding: 20px;
    margin-left: 60px;
  }
  
  table {
    font-size: 40px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: 80px;
  }
  
  td, th {
    border: 1px solid #4e4b4b9f;
    text-align: left;
    padding: 8px;
  }
  
  tr {
    background-color: #dddddd;
  }
  
  div.dice{
      float:left;
      width:500px;
      background:#ffffff;
      border:rgb(0, 0, 0)x solid;
      padding:30px;
      font-size:500px;
      text-align:center;
      margin:5px;
    }

  .top,.bottom{
      position:fixed;width:100%;z-index:1
    }.top {
        top:0
    }.bottom {
        bottom:0
    }
  .topbar{
      border-top:6px solid #ccc!important
    }.bottombar {
        border-bottom:6px solid #ccc!important
    }
  .bar{
      width:100%;overflow:hidden
    }.center .bar {
        display:inline-block;width:auto
    }
  .bar .bar-item{
      padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0
    }
  .bar .dropdown-hover,.bar .dropdown-click{
      position:static;float:left
    }
  .bar .button{
      white-space:normal
    }
  .bar-block .bar-item{
      width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0
    }
  .bar-block .center .bar-item {
      text-align:center
    }.block{
        display:block;width:100%
    }

  .bar-block .dropdown-hover,.bar-block .dropdown-click{
      width:100%
    }
  .bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content{
      min-width:100%
    }
  .bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{
      width:100%;text-align:left;padding:8px 16px
    }
  .xlarge{
      font-size:24px!important
    }.xxlarge{
        font-size:36px!important
    }.xxxlarge{
        font-size:48px!important
    }.jumbo{
        font-size:64px!important
    }
  .padding-32{
      padding-top:32px!important;padding-bottom:32px!important
    }.padding-48{
        padding-top:48px!important;padding-bottom:48px!important
    }

  .nav ul {
        margin: 0;
    }

    .nav li {
        display: inline;
    }

    .nav a {
        display: inline-block;
        padding: .5em;
        color: white;
        text-decoration: none;
    }

    .main-nav {
        text-align: center;
        font-size: 1.1em;
        font-weight: lighter;
        border-bottom: 1px solid rgba(255, 255, 255, .3)
    }

    .main-nav li {
        padding: 0 5%;
    }

    .nav a:hover {
        background-color: rgba(255, 255, 255, .3)
    }

    .main-header {
        background-color: rgba(0, 0, 0, .6);
        background-image: url("Images/Header Background.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        padding-bottom: 30px;
    }

    .item-name {
        text-align: center;
        margin: 0;
        font-size: 4em;
        font-family: "Booter - Zero Zero";
        font-weight: normal;
        color: white;
    }

    .item-name-large {
        font-size: 8em;
    }

    .content-section {
        margin: 1em;
    }

    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 1.5em;
    }


    .section-header {
        font-family: "Metal Mania";
        font-weight: normal;
        color: #333;
        text-align: center;
        font-size: 2.5em;
    }


    .main-footer {
        background-color: #56CCF2;
        color: white;
        padding: .25em 0;
    }

    .main-footer-container {
        display: flex;
        align-items: center;
    }

    .main-footer-container ul {
        flex-grow: 1;
        text-align: end;
    }

    .footer-nav li {
        padding: 0 .5em;
    }

    .footer-nav img {
        width: 30px;
        height: 30px;
    }

    .btn {
        text-align: center;
        vertical-align: middle;
        padding: .67em .67em;
        cursor: pointer;
    }

    .btn-header {
        margin: .5em 15% 2em 15%;
        color: white;
        border: 2px solid #2D9CDB;
        background-color: rgba(255, 255, 255, .1);
        border-radius: 0;
        font-size: 1.5em;
        font-weight: lighter;
        padding-left: 2em;
        padding-right: 2em;
    }

    .btn-header:hover {
        background-color: rgba(255, 255, 255, .3);
    }

    .btn-play {
        display: block;
        margin: 0 auto;
        color: #2D9CDB;
        font-size: 4em;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 0;
        text-align: center;
    }

    .btn-primary {
        color: white;
        background-color: #56CCF2;
        border: none;
        border-radius: .3em;
        font-weight: bold;
    }

    .btn-primary:hover {
        background-color: #2D9CDB;
    }



    .shop-item {
        margin: 0px;
    }

    .shop-item-title {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        color: #333;
        margin-bottom: 15px;
    }

    .shop-item-image {
        height: 250px;
    }

    .shop-item-details {
        display: flex;
        align-items: center;
        padding: 5px;
    }

    .shop-item-price {
        flex-grow: 1;
        color: #333;
        font-size: 1.5em;
    }

    .shop-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .cart-header {
        font-weight: bold;
        font-size: 1.25em;
        color: #333;
    }

    .cart-column {
        display: flex;
        align-items: center;
        border-bottom: 1px solid black;
        margin-right: 1.5em;
        padding-bottom: 10px;
        margin-top: 10px;
    }

    .cart-row {
        display: flex;
    }

    .cart-item {
        width: 45%;
    }

    .cart-price {
        width: 20%;
        font-size: 1.2em;
        color: #333;
    }

    .cart-quantity {
        width: 35%;
    }

    .cart-item-title {
        color: #333;
        margin-left: .5em;
        font-size: 0.8em;
    }

    .cart-item-image {
        width: 75px;
        height: auto;
        border-radius: 10px;
    }

    .cart-item-note {

    }

    .cart-item-note-input {
        
    }

    .btn-danger {
        color: rgb(255, 255, 255);
        background-color: #EB5757;
        border: none;
        border-radius: .3em;
        font-weight: bold;
    }

    .btn-danger:hover {
        background-color: #CC4C4C;
    }

    .cart-quantity-input {
        height: 34px;
        width: 50px;
        border-radius: 5px;
        border: 1px solid #56CCF2;
        background-color: #eee;
        color: #333;
        padding: 0;
        text-align: center;
        font-size: 1.2em;
        margin-right: 25px;
    }

    .cart-row:last-child {
        border-bottom: 1px solid black;
    }

    .cart-row:last-child .cart-column {
        border: none;
    }

    .cart-total {
        text-align: end;
        margin-top: 10px;
        margin-right: 10px;
    }

    .cart-total-title {
        font-weight: bold;
        font-size: 1.2em;
        color: black;
        margin-right: 20px;
    }

    .cart-total-price {
        color: #333;
        font-size: 1.1em;
    }

    .cart-subtotal {
        text-align: end;
        margin-top: 10px;
        margin-right: 10px;
    }

    .cart-subtotal-title {
        font-weight: bold;
        font-size: 0.9em;
        color: black;
        margin-right: 20px;
    }

    .cart-subtotal {
        text-align: end;
        margin-top: 10px;
        margin-right: 10px;
    }

    .cart-subtotal-price {
        color: #333;
        font-size: 1.1em;
    }

    .cart-tax {
        text-align: end;
        margin-top: 10px;
        margin-right: 10px;
    }

    .cart-tax-title {
        font-weight: bold;
        font-size: 0.9em;
        color: black;
        margin-right: 20px;
    }

    .cart-tax-price {
        color: #333;
        font-size: 1.1em;
    }

    .btn-purchase {
        display: block;
        margin: 40px auto 80px auto;
        font-size: 1.75em;
    }

    menu {
        background-color: #dddddd;
        position: fixed;
        right: 0;
        top: 0%;
        width: 20em;
        margin-top: -2.5em;
      }